extends layout

block content
  .text-center Welcome to #{print[0].name}
  table#table
    thead
      tr
        th
          = "name"
    tbody      
      each item, i in print
        tr
          td
            = item.name
