extends layout

block content
  .text-center Welcome to BrewDB
  table#table
    thead
      tr
        th
          = "name"
    tbody
      if print.length>0
      each item, i in print
        tr
          td
            = item.name + " " + item.IBU
   
