extends layout

block content
  h1= title
  p Welcome to #{print[0].name}
  table#table
    thead
      tr
        th
          = "name"
    tbody      
      each hop, i in print
        tr
          td
            = hop.name
