extends layout

block content
  .text-center Welcome to #{hops[0].name}
  table#table
    thead
      tr
        th
          = "name"
    tbody      
      each hop, i in hops
        tr
          td
            = hop.name
