extends layout

block content
  .text-center.query-title
    h3  Query the BrewSim Database 
  .container.db-query
    form(action='/query', method='post')
      p Search By Ingredient:
      
      .row
        .row.col-6
          .col-6
            label 
              strong Yeast Name:
            input(type='string', name='YeastName')
            label
              strong Hop Name:
            input(type='string', name='HopName')
            label
              strong Grain Name:
            input(type='string', name='GrainName')





      
      .row(style="margin: 50px 0; font-size: 18px;")
        strong - OR BY -
      .row
        .col-4
          label
            strong Hops in Alpha Acid range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='HopRangeStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='HopRangeEnd')
        .col-4
          label
            strong Beer Recipe in IBU (Bitterness) range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='IBURangeStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='IBURangeEnd')
        .col-4
          label
            strong Beer Recipe in ABV (% Alcohol) range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='ABVStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='ABVEnd')

      br
      br
      label 
        strong Search Yeast from:

          


      select.form-control
        option(name= 'country', value='') Select Region
        option(name= 'country', value='American') American
        option(name= 'country', value='Irish') Irish
        option(name= 'country', value='Belgian') Belgian
        option(name= 'country', value='English') English
        option(name= 'country', value='German') German
      br
      br

      input.btn.btn-success(type='Submit', value='Submit')
      
