extends layout

block content
  .text-center.query-title
    h3  Query the Brewsim Database 
  .container.db-query
    form(action='/query', method='post')
      p By Ingredient:
      
      .row
        .row.col-6
          .col-6
            label 
              strong Ingredient Name:
            input(type='string', name='IngredientName')
          .col-6
            label
              strong Category:
            select.form-control
              option(value='Hops') Hops
              option(value='Grain') Grain
              option(value='Yeast') Yeast
              option(value='Beer Style') Beer Style
              option(value='Beer Recipe') Beer Recipe
      
      .row(style="margin: 50px 0; font-size: 18px;")
        strong - OR BY -
      .row
        .col-4
          label
            strong Alpha Acid range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='HopRangeStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='HopRangeEnd')
        .col-4
          label
            strong IBU (Bitterness) range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='IBURangeStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='IBURangeEnd')
        .col-4
          label
            strong ABV (% Alcohol) range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='ABVStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='ABVEnd')

      p Search Hops:
      select
        for hop in hops
          option( selected=hop == hop ) #{hop.name}
          


      select.form-control
        option(name= 'country', value='') Select Region
        option(name= 'country', value='American') American
        option(name= 'country', value='Irish') Irish
        option(name= 'country', value='Belgian') Belgian
        option(name= 'country', value='English') English
        option(name= 'country', value='German') Germa
      br
      br

      input.btn.btn-success(type='Submit', value='Submit')