extends layout
block content
  .text-center.query-title
    h3  Query the BrewSim Database 
  .container.db-query
    form(action='/query', method='post')
      p Search By Ingredient: (to see all in a category, search "all")

      .row
        .row.col-12
          .col-12
            label
              strong Yeast Name:
            br
            input(type='string', name='YeastName')
            br
            label
              strong Hop Name:
            br
            input(type='string', name='HopName')
            br
            label
              strong Grain Name:
            br
            input(type='string', name='GrainName')
            br
            label
              strong Style Name:
            br
            input(type='string', name='StyleName')
            br
            label
              strong Recipe Name:
            br
            input(type='string', name='RecipeName')
            br
            label
              strong ABV of recipe by Name:(for example enter "Hoppiness is an IPA", is case sensitive)
            br
            input(type='string', name='ABVbyRecipeName')
            br
            label
              strong IBU of recipe by Name: (for example enter "Zombie Dust Clone Pale Ale", is case sensitive)
            br
            input(type='string', name='IBUbyRecipeName')
            br
            label
              strong Hops of recipe by Name: (for example enter "Zombie Dust Clone Pale Ale", is case sensitive)
            br
            input(type='string', name='HopsbyRecipeName')
            br
            label
              strong Grain of recipe by Name: (for example enter "Zombie Dust Clone Pale Ale", is case sensitive)
            br
            input(type='string', name='GrainbyRecipeName')
            br
            label
              strong Yeast of recipe by Name: (for example enter "Zombie Dust Clone Pale Ale", is case sensitive)
            br
            input(type='string', name='YeastbyRecipeName')
            br


      .row(style="margin: 50px 0; font-size: 18px;")
        strong - OR BY -
      .row
        .col-4
          label
            strong Hops in Alpha Acid range:
          .row
            .form-group.row.col-6
              label.col-6 Min value
              input.col-6(type='number', name='HopRangeStart')
            .form-group.row.col-6
              label.col-6 Max value
              input.col-6(type='number', name='HopRangeEnd'
              
			br
			br
			input.btn.btn-success(type='Submit', value='Submit')
