extends layout

block content
  h3  Query the Brewsim Database 
  form(action='/query', method='post')
    label Find hops within a certain Alpha Acid range:
    .form-group.row
      label.col-2.col-form-label Beginning value: 
      input.col-4(type='number', name='HopRangeStart')
    .form-group.row
      label.col-2.col-form-label Ending value
      input.col-4(type='number', name='HopRangeEnd')
    br
    br
    p Find beers within a certain IBU (Bitterness) range:
    .form-group.row
      label.col-2.col-form-label Beginning value: 
      input.col-4(type='number', name='IBURangeStart')
    .form-group.row
      label.col-2.col-form-label Ending value
      input.col-4(type='number', name='IBURangeEnd')
    br
    br
    p Find beers within a certain ABV (% Alcohol) range:
    .form-group.row
      label.col-2.col-form-label Beginning value: 
      input.col-4(type='number', name='ABVStart')
    .form-group.row
      label.col-2.col-form-label Ending value
      input.col-4(type='number', name='ABVEnd')
    br
    br
    p Search recipes containing:
    .form-group.row
      input(type='checkbox', value='Barley')
      label(for='Barley') Barley
    input(type='checkbox', value='Cascade')
    label(for='Cascade') Cascade
    br
    input(type='checkbox', value='Wheat')
    label(for='Wheat') Wheat
    input(type='checkbox', value='Chinook')
    label(for='Chinook') Chinook
    br
    input(type='checkbox', value='Oat')
    label(for='Oat') Oat
    input(type='checkbox', value='Citra')
    label(for='Citra') Citra
    br
    input(type='checkbox', value='Rice')
    label(for='Rice') Rice
    input(type='checkbox', value='Simcoe')
    label(for='Simcoe') Simcoe
    br
    input(type='checkbox', value='Corn')
    label(for='Corn') Corn
    input(type='checkbox', value='Mosaic')
    label(for='Mosaic') Mosaic
    br
    input(type='checkbox', value='Rye')
    label(for='Rye') Rye
    input(type='checkbox', value='Cluster')
    label(for='Cluster') Cluster
    br
    br
    p Search Hops:
    select
      for hop in hops
        option( selected=hop == hop ) #{hop.name}
        


    select
      option(value='') Select Region
      option(value='American') American
      option(value='Irish') Irish
      option(value='Belgian') Belgian
      option(value='English') English
      option(value='German') Germa
    br
    br

    input(type='Submit', value='Submit')