extends layout

block content
    .text-center BrewDB Query Results
    table#table
        thead
            tr
                th
                    //= "Results of your Query"
        tbody
            if print.length>0
            each item, i in print
                tr
                    to
                        each attribute, i in item
                            = i + ": " + attribute + "  |  "
                        br

